{% extends 'base.html' %}

{% block title %}
<title>
  Editar Contraseña 
</title>
{% endblock title %}

{% block content %}
<body class="bg-dark">
  <div class="container-fluid">
    <div class="card card-register mx-auto mt-5">

      <div class="card-header"><i class="fa fa-edit"></i> Edita tu contraseña {{ request.user.get_full_name}}</div>
      <div class="card-body container">
        <form method="POST">
          {% csrf_token %}
           {% for field in form %}
            <div class="row">
              <div class="col-5">
                {{ field.label_tag }}
              </div>
              <div class="col-4">
                {{ field }}
              </div>
            </div>
              {% for error in field.errors %}
                <div class="alert alert-danger row">
                  <strong>{{ error|escape }}</strong>
                </div>
              {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
            </div>
          {% endfor %}
          {% if not user.has_usable_password %}
            <button class="btn btn-primary special" type="submit">Guardar contraseña</button>
          {% else %}
            <button class="btn btn-primary special" type="submit">Actualizar contraseña</button>
          {% endif %}
          <a href="/settings/" role="button" class="btn btn-outline-primary">Modificar Perfil</a>
          <a href="/index/" role="button" class="btn btn-outline-secondary">Inicio</a>
        </form>
      </div>
    </div>
  </div>
</body>
{% endblock content %}
