 {% extends 'base.html' %}

  {% block title %}
  <title>Asignar materia prima</title>
  {% endblock title %}

{% block head %}
<script type="text/javascript"> 
    $(document).ready(function() {
        $('#enviar').click(function(e){
            e.preventDefault();
                var dataString = $('#form-control').serialize();

            $.ajax({
                type: "POST",
                url: '',
                data: dataString,
                success: function(data) {
                window.location.replace("");
                }
            });
        });
    });
</script>
{% endblock head%}

{% block content %}
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/index/">Sistema de contabilidad</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Inicio">
          <a class="nav-link" href="/index/">
            <i class="fa fa-fw fa-home"></i>
            <span class="nav-link-text">Inicio</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Periodos contables">
          <a class="nav-link" href="/periodoConta/">
            <i class="fa fa-fw fa-calendar"></i>
            <span class="nav-link-text">Periodos contables</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Catalogo de cuentas">
          <a class="nav-link" href="/catalogo/" >
            <i class="fa fa-fw fa-files-o"></i>
            <span class="nav-link-text">Catalogo de cuentas</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
      {% if user == True %}
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Periodos contables">
          <a class="nav-link" href="/signup/">
            <i class="fa fa-fw fa-user-plus"></i>
            <span class="nav-link-text">Registrar Usuario</span>
          </a>
        </li>
      {% endif %}
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="/settings/">
            <i class="fa fa-fw fa-edit"></i>Editar Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="/logout/">
            <i class="fa fa-fw fa-sign-out"></i>Cerrar Sesion</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Contenido de la pagina -->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs -->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
         <a href="/index">Inicio</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/periodoConta">Periodo Contable</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/menu/{{periodoId}}">Menu</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/contabilidadCostos/{{periodoId}}">Contabilidad de costos</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/manejoOrdenes/{{periodoId}}">Manejo de ordenes</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/gestionarOrden/{{ordenId}}/{{periodoId}}">Gestionar orden</a>
        </li>
        <li class="breadcrumb-item active">Asignar materia prima</li>
      </ol>
      <!-- Carta de contenido -->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-plus"></i> Asignar materia prima: 
        </div>
        <div class="card-body container">
          <form id="form-control" method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="col-2">
                <label>Orden:</label>
              </div>
              <div class="col-3">
                <input type="number" name="idOrden" readonly="readonly" value="{{ordenId}}" class="form-control">
              </div>
            </div>
            <div class="row" style="margin-top: 5px">
              <div class="col-2">
                <label>Materia prima</label>
              </div>
              <div class="col-3">
                <select style="width:100%" name="productoId" class="form-control"> 
                  {% for producto1 in product %}
                    <option value="{{producto1.id}}">{{producto1.nombreMateriaPrima}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="row" style="margin-top: 5px">
              <div class="col-2">
                <label>Cantidad:</label>
              </div>
              <div class="col-3">
                <input type="number" name="cantidadMP" class="form-control">
              </div>

            </div>
            <div class="row" style="margin-top: 5px">
              <div class="col-2">
                <label>Fecha de salida:</label>
              </div>
              <div class="col-3">
                <input type="date" name="fechaSalida" class="form-control">
              </div>
            </div>
            <div class="col" style="margin-left: 22%; margin-top: 5px">
              <input type="submit" name="enviar" id="enviar" value="Guardar" class="btn btn-primary">
              <a href="/gestionarOrden/{{ordenId}}/{{periodoId}}" class="btn btn-secondary">Regresar</a>     
            </div>
          </form>
        </div>
      </div>
    </div>
  <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Univerisdad de El Salvador. 2017</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock content %}
</html>